footer {
    background-color: var(--darkest);
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-right: 40px;
    margin-left: -20px;


}

footer p {
    color: var(--white);
}